<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="adminRegistrationMapper">
	<resultMap type="adminBusinessRegistration"
		id="adminBusinessRegistrationResultSet">
		<result column="BR_NUM" property="brNum"></result>
		<result column="M_NUM" property="memberNum"></result>
		<result column="BR_COMPANY" property="brCompany"></result>
		<result column="BR_STTCD" property="brSttCd"></result>
		<result column="BR_AR_STTCD" property="brArSttCd"></result>
		<result column="BR_REASON" property="brReason"></result>
		<result column="BR_REPNAME" property="brRepname"></result>
		<result column="BR_CREATE_DATE" property="brCreateDate"></result>
	</resultMap>

	<select id="selectBusinessRegistrationListCount" resultType="_int">
		SELECT COUNT(*) FROM BUSINESS_REGISTRATION where BR_AR_STTCD = 'N'
	</select>
	
	<select id="selectBusinessRegistrationList" resultMap="adminBusinessRegistrationResultSet">
		SELECT * FROM BUSINESS_REGISTRATION where BR_AR_STTCD = 'N'
		ORDER BY m_num DESC
	</select>
	
	<update id="approvalBusinessRegistration">
		UPDATE BUSINESS_REGISTRATION SET BR_AR_STTCD = 'Y' WHERE BR_NUM = #{brNum}
	</update>
	
	<update id="refuseBusinessRegistration">
		UPDATE BUSINESS_REGISTRATION SET BR_AR_STTCD = 'R', BR_REASON = #{brReason} WHERE BR_NUM = #{brNum}
	</update>

</mapper>